.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  background: #0058ff;
}

nav {
  padding: 16px;
}

nav a {
  line-height: 22px;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.25s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.25s ease;
  text-decoration: none;
}

footer {
  padding: 48px 16px;
}

footer a {
  line-height: 21px;
  font-size: 14px;
  display: inline-block;
  padding: 7px 14px;
}

.news-list {
  max-width: 600px;
  margin: auto;
  text-align: left;
}
